# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Tools
.idea
*.iml
.next
next-env.d.ts

# Claude Code
.claude
Claude.md

# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build
/dist
settings.json

# Misc
.DS_Store
