@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);

@config '../../tailwind.config.ts';

.kombinert-tidslinje-boks .aksel-timeline__row-label {
    width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.kombinert-tidslinje-boks .aksel-timeline__row-label > svg {
    float: left;
    margin-right: 0.25rem;
    flex-shrink: 0;
}
